<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/includes/shop-header.css">
<link rel="stylesheet" href="/css/auth/login.css">

</head>

<body>
  <%- include('../includes/header.ejs') %>

  <main>
    <h2>Log In</h2>
    <p class="login-message <%= type === 'error' ? 'login-error' : 'login-success'%> <%= message ? null : 'hidden' %>">
      <%= message %>
    </p>
    <form method="POST" action="/auth/login">
      <label for="login-email">Email: </label>
      <input id="login-email" type="email" name="username">
      <label for="login-password">Password: </label>
      <input id="login-password" type="password" name="password">
      <button>Submit</button>
      <a href="/auth/passwordreset">Trouble logging in?</a>
    </form>
  </main>
  <footer>

  </footer>
</body>

</html>