<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/includes/shop-header.css">
<link rel="stylesheet" href="/css/shop/shop-by-author.css">

</head>

<body>
  <%- include('../includes/header.ejs') %>
  <%- include('../includes/shopHeader.ejs') %>
  <main>
    <h2>
      Shop By Author:
    </h2>
    <ul>
      <% for (let author of authors) { %>
      <li>
        <a href="/shop/author/<%= author._id%>">
          <%= author.firstname + " " + author.lastname %>
        </a>
      </li>
      <% } %>
    </ul>
  </main>
  <footer>

  </footer>
</body>

</html>