<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/includes/shop-header.css">
<link rel="stylesheet" href="/css/shop/shop-by-genre.css">

</head>

<body>
  <%- include('../includes/header.ejs') %>
  <%- include('../includes/shopHeader.ejs') %>
  <main>
    <h2>
      Shop By Genre:
    </h2>
    <ul>
      <% for (let genre of genres) { %>
      <li>
        <a href="/shop/genre/<%= genre._id%>">
          <%= genre.genre %>
        </a>
      </li>
      <% } %>
    </ul>
  </main>
  <footer>

  </footer>
</body>

</html>