<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/includes/shop-header.css">
<link rel="stylesheet" href="/css/shop/shop-index.css">

</head>

<body>
  <%- include('../includes/header.ejs') %>
  <%- include('../includes/shopHeader.ejs') %>

  <%
    const {featuredAuthor, suggestedBooks} = frontPage;
    const {imageURL, firstname, lastname, birthyear, deathyear, biography, books} = featuredAuthor;
    
  %>
  <main>
    <section class="welcome">
      <h2>Welcome to Doug's Books!</h2>
      <img src="https://www.frommers.com/system/media_items/attachments/000/865/497/s980/Powells_again.jpg?1587431076" alt="bookshelves in a store">
      <p>
        We are located at 2152 45th St, Long Beach, CA.
        <span>Have a look around; we hope you find something good to read!</span>
      </p>
    </section>
    <section class="author-section">
      <h3>This Month's Featured Author</h3>
      <div class="author-content">
        <img class="author-image" src="<%= imageURL %>" alt="<% firstname + ' ' + lastname %>">
        <div class="author-facts">
          <p class="author-name">
            <%= firstname + " " + lastname %>
            <span class="author-dates">
              <%= birthyear + " - " + (deathyear ? deathyear : 'present') %>
            </span>
          </p>
          <p class="author-biography">
            <%= biography %>
          </p>
          <ul class="author-books">
            <% for (let book of books) { %>
            <li>
              <img src="<%= book.imageURL %>" alt="<%= book.title %>">
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h3>Doug's Picks</h3>
      <% for (let i = 0; i < suggestedBooks.length; i++) { 
        const book = suggestedBooks[i];
        const authorFull = book.author.firstname + " " + book.author.lastname;
        if ((i % 2) === 0) { %>
      <div class="right-book book-container">
        <div class="book-content">
          <p class="book-title">
            <%= book.title %>
            <span class="book-author">by <%= authorFull %></span>
          </p>
          <p class="book-description">
            <%= book.description %>
          </p>
          <p class="book-genre"><%= book.genre.genre %></p>
        </div>
        <div class="book-image-container">
          <img src="<%= book.imageURL %>" alt="<%= book.title %>">
        </div>
      </div>
      <% } else { %>
      <div class="left-book book-container">
        <div class="book-image-container">
          <img src="<%= book.imageURL %>" alt="<%= book.title %>">
        </div>
        <div class="book-content">
          <p class="book-title">
            <%= book.title %>
            <span class="book-author">by <%= authorFull %></span>
          </p>
          <p class="book-description">
            <%= book.description %>
          </p>
          <p class="book-genre"><%= book.genre.genre %></p>
        </div>
      </div>


      <% }} %>
    </section>
  </main>
  <footer>

  </footer>
</body>

</html>